In [1]:
import json
import pandas as pd
from dotenv import load_dotenv

load_dotenv(".env", override = True)

True

In [2]:
import aisuite as ai

In [3]:
client = ai.Client()

In [4]:
import sqlite3

In [5]:
db_name = "products.db"

In [6]:
conn = sqlite3.connect(db_name)
cur = conn.cursor()

In [7]:
table = """CREATE TABLE transactions (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        product_id INTEGER NOT NULL,
        product_name TEXT NOT NULL,
        brand TEXT NOT NULL,
        category TEXT NOT NULL,
        color TEXT NOT NULL,
        action TEXT NOT NULL,            -- 'insert' | 'restock' | 'sale' | 'price_update'
        qty_delta INTEGER DEFAULT 0,     -- + for restock/insert, - for sale
        unit_price REAL,                 -- price at the time of the event (NULL for non-price events)
        notes TEXT,                      -- optional
        ts DATETIME DEFAULT CURRENT_TIMESTAMP
    )
    """

cur.execute("DROP TABLE IF EXISTS transactions")
cur.execute(table)

In [8]:
brands = ["Nike", "Adidas", "Puma", "Reebok", "New Balance"]
categories = ["shoes", "hoodie", "t-shirt", "hat", "backpack"]
colors = ["black", "white", "red", "blue", "green"]

In [9]:
import random

In [10]:
rng = random.Random(42)
n_products= 100

product_catalog = []

for pid in range(1, n_products + 1):
    name = f"{rng.choice(brands)} {rng.choice(categories)}"
    brand = name.split()[0]
    category = name.split()[1]
    color = rng.choice(colors)
    base_price = round(rng.uniform(20.0, 150.0), 2)
    product_catalog.append((pid, name, brand, category, color, base_price))

In [11]:
product_catalog

[(1, 'Nike shoes', 'Nike', 'shoes', 'red', 51.84),
 (2, 'Adidas shoes', 'Adidas', 'shoes', 'green', 31.3),
 (3, 'Reebok shoes', 'Reebok', 'shoes', 'black', 32.18),
 (4, 'Adidas backpack', 'Adidas', 'backpack', 'green', 23.45),
 (5, 'Adidas backpack', 'Adidas', 'backpack', 'blue', 48.66),
 (6, 'New Balance t-shirt', 'New', 'Balance', 'black', 118.64),
 (7, 'Adidas hat', 'Adidas', 'hat', 'red', 56.12),
 (8, 'Adidas t-shirt', 'Adidas', 't-shirt', 'black', 32.06),
 (9, 'Nike t-shirt', 'Nike', 't-shirt', 'red', 98.48),
 (10, 'Nike hat', 'Nike', 'hat', 'green', 36.23),
 (11, 'Reebok shoes', 'Reebok', 'shoes', 'green', 58.11),
 (12, 'New Balance t-shirt', 'New', 'Balance', 'green', 45.0),
 (13, 'Nike shoes', 'Nike', 'shoes', 'white', 120.5),
 (14, 'Nike hoodie', 'Nike', 'hoodie', 'black', 69.42),
 (15, 'Reebok t-shirt', 'Reebok', 't-shirt', 'white', 68.12),
 (16, 'Adidas t-shirt', 'Adidas', 't-shirt', 'black', 99.19),
 (17, 'Adidas backpack', 'Adidas', 'backpack', 'white', 41.24),
 (18, 'Reebok t-shirt', 'Reebok', 't-shirt', 'green', 48.55),
 (19, 'Puma shoes', 'Puma', 'shoes', 'white', 126.83),
 (20, 'Puma hat', 'Puma', 'hat', 'red', 28.6),
 (21, 'New Balance t-shirt', 'New', 'Balance', 'white', 105.21),
 (22, 'Reebok hat', 'Reebok', 'hat', 'white', 54.43),
 (23, 'Adidas backpack', 'Adidas', 'backpack', 'green', 54.16),
 (24, 'New Balance hat', 'New', 'Balance', 'green', 71.92),
 (25, 'Adidas hoodie', 'Adidas', 'hoodie', 'green', 84.16),
 (26, 'Nike shoes', 'Nike', 'shoes', 'white', 101.57),
 (27, 'Reebok backpack', 'Reebok', 'backpack', 'black', 70.02),
 (28, 'New Balance hat', 'New', 'Balance', 'green', 52.68),
 (29, 'New Balance shoes', 'New', 'Balance', 'black', 108.62),
 (30, 'New Balance t-shirt', 'New', 'Balance', 'red', 34.5),
 (31, 'Reebok hoodie', 'Reebok', 'hoodie', 'blue', 20.42),
 (32, 'Puma backpack', 'Puma', 'backpack', 'white', 86.0),
 (33, 'Nike t-shirt', 'Nike', 't-shirt', 'green', 99.17),
 (34, 'Adidas t-shirt', 'Adidas', 't-shirt', 'white', 90.12),
 (35, 'New Balance shoes', 'New', 'Balance', 'green', 62.14),
 (36, 'Nike shoes', 'Nike', 'shoes', 'red', 134.23),
 (37, 'Puma hoodie', 'Puma', 'hoodie', 'black', 51.31),
 (38, 'New Balance shoes', 'New', 'Balance', 'black', 115.15),
 (39, 'Nike backpack', 'Nike', 'backpack', 'white', 36.69),
 (40, 'Reebok backpack', 'Reebok', 'backpack', 'white', 54.46),
 (41, 'New Balance hat', 'New', 'Balance', 'white', 140.76),
 (42, 'Adidas t-shirt', 'Adidas', 't-shirt', 'blue', 149.37),
 (43, 'Puma hat', 'Puma', 'hat', 'green', 78.69),
 (44, 'Adidas hoodie', 'Adidas', 'hoodie', 'black', 63.95),
 (45, 'New Balance backpack', 'New', 'Balance', 'white', 96.5),
 (46, 'Nike shoes', 'Nike', 'shoes', 'black', 49.76),
 (47, 'Nike t-shirt', 'Nike', 't-shirt', 'black', 86.84),
 (48, 'Puma hat', 'Puma', 'hat', 'white', 90.1),
 (49, 'New Balance backpack', 'New', 'Balance', 'blue', 51.59),
 (50, 'Reebok hat', 'Reebok', 'hat', 'white', 32.26),
 (51, 'Reebok t-shirt', 'Reebok', 't-shirt', 'blue', 73.44),
 (52, 'Nike shoes', 'Nike', 'shoes', 'black', 72.34),
 (53, 'Puma shoes', 'Puma', 'shoes', 'white', 44.91),
 (54, 'New Balance hat', 'New', 'Balance', 'white', 74.84),
 (55, 'Puma hat', 'Puma', 'hat', 'white', 133.68),
 (56, 'Nike hat', 'Nike', 'hat', 'green', 32.73),
 (57, 'New Balance shoes', 'New', 'Balance', 'black', 140.43),
 (58, 'Adidas hoodie', 'Adidas', 'hoodie', 'blue', 83.13),
 (59, 'Adidas hat', 'Adidas', 'hat', 'black', 41.4),
 (60, 'Nike hat', 'Nike', 'hat', 'red', 140.45),
 (61, 'Reebok t-shirt', 'Reebok', 't-shirt', 'blue', 110.56),
 (62, 'New Balance hat', 'New', 'Balance', 'white', 44.69),
 (63, 'Adidas shoes', 'Adidas', 'shoes', 'green', 115.65),
 (64, 'Nike t-shirt', 'Nike', 't-shirt', 'black', 26.52),
 (65, 'Reebok backpack', 'Reebok', 'backpack', 'green', 40.47),
 (66, 'New Balance shoes', 'New', 'Balance', 'white', 28.91),
 (67, 'Nike hoodie', 'Nike', 'hoodie', 'blue', 35.59),
 (68, 'New Balance hoodie', 'New', 'Balance', 'green', 97.29),
 (69, 'New Balance shoes', 'New', 'Balance', 'blue', 105.46),
 (70, 'New Balance backpack', 'New', 'Balance', 'red', 141.51),
 (71, 'Adidas t-shirt', 'Adidas', 't-shirt', 'white', 54.53),
 (72, 'Adidas t-shirt', 'Adidas', 't-shirt', 'blue', 61.1),
 (73, 'Nike shoes', 'Nike', 'shoes', 'blue', 100.75),
 (74, 'New Balance shoes', 'New', 'Balance', 'black', 89.89),
 (75, 'New Balance t-shirt', 'New', 'Balance', 'white', 141.32),
 (76, 'Nike hoodie', 'Nike', 'hoodie', 'red', 57.05),
 (77, 'Reebok backpack', 'Reebok', 'backpack', 'red', 99.52),
 (78, 'New Balance shoes', 'New', 'Balance', 'green', 58.92),
 (79, 'Nike hoodie', 'Nike', 'hoodie', 'red', 35.01),
 (80, 'Nike backpack', 'Nike', 'backpack', 'white', 55.41),
 (81, 'New Balance hoodie', 'New', 'Balance', 'red', 46.47),
 (82, 'Puma backpack', 'Puma', 'backpack', 'blue', 52.65),
 (83, 'Nike shoes', 'Nike', 'shoes', 'blue', 127.82),
 (84, 'Nike shoes', 'Nike', 'shoes', 'red', 120.25),
 (85, 'Puma hoodie', 'Puma', 'hoodie', 'blue', 91.72),
 (86, 'Reebok backpack', 'Reebok', 'backpack', 'black', 34.54),
 (87, 'Adidas backpack', 'Adidas', 'backpack', 'black', 128.5),
 (88, 'New Balance backpack', 'New', 'Balance', 'white', 75.87),
 (89, 'Nike t-shirt', 'Nike', 't-shirt', 'red', 136.87),
 (90, 'Nike t-shirt', 'Nike', 't-shirt', 'white', 108.67),
 (91, 'Nike t-shirt', 'Nike', 't-shirt', 'green', 134.94),
 (92, 'Reebok backpack', 'Reebok', 'backpack', 'white', 140.35),
 (93, 'Adidas hoodie', 'Adidas', 'hoodie', 'white', 134.58),
 (94, 'Nike hoodie', 'Nike', 'hoodie', 'red', 121.71),
 (95, 'Reebok hoodie', 'Reebok', 'hoodie', 'red', 40.7),
 (96, 'Nike hat', 'Nike', 'hat', 'black', 131.62),
 (97, 'Adidas hoodie', 'Adidas', 'hoodie', 'blue', 65.46),
 (98, 'Adidas hoodie', 'Adidas', 'hoodie', 'black', 105.8),
 (99, 'Reebok t-shirt', 'Reebok', 't-shirt', 'red', 132.37),
 (100, 'Puma t-shirt', 'Puma', 't-shirt', 'green', 71.96)]

In [12]:
n_txns_per_product = 50

for (pid, name, brand, category, color, base_price) in product_catalog:
    
    # Initial insert (with opening stock and price)
    initial_stock = rng.randint(5, 50)

    cur.execute("""INSERT INTO transactions (product_id, product_name, brand, category, color,
    action, qty_delta, unit_price, notes) VALUES (?, ?, ?, ?, ?, 'insert', ?, ?, ?)
    """, (pid, name, brand, category, color, initial_stock, base_price,
          f"Initial insert with stock={initial_stock}, price={base_price}"))
    current_price = base_price

    # Follow-up events
    for _ in range(n_txns_per_product - 1):
        event_type = rng.choices(["restock", "sale", "price_update"],weights=[0.25, 0.6, 0.15],k=1)[0]
    
        if event_type == "restock":
            qty = rng.randint(1, 25)
            cur.execute("""
                INSERT INTO transactions (
                    product_id, product_name, brand, category, color,
                    action, qty_delta, unit_price, notes
                ) VALUES (?, ?, ?, ?, ?, 'restock', ?, NULL, ?)
            """, (pid, name, brand, category, color, qty,f"Restock +{qty} units"))
    
        elif event_type == "sale":
            qty = -rng.randint(1, 10)  # negative
            cur.execute("""
                INSERT INTO transactions (
                    product_id, product_name, brand, category, color,
                    action, qty_delta, unit_price, notes
                ) VALUES (?, ?, ?, ?, ?, 'sale', ?, ?, ?)
            """, (pid, name, brand, category, color, qty, current_price,
                  f"Sale {-qty} units at {current_price}"))
    
        else:  # price_update
            delta = round(rng.uniform(-5.0, 5.0), 2)
            current_price = max(1.0, round(current_price + delta, 2))
            cur.execute("""
                INSERT INTO transactions (
                    product_id, product_name, brand, category, color,
                    action, qty_delta, unit_price, notes
                ) VALUES (?, ?, ?, ?, ?, 'price_update', 0, ?, ?)
            """, (pid, name, brand, category, color, current_price,
                  f"Price update to {current_price}"))

In [13]:
conn.commit()
conn.close()

In [14]:
conn = sqlite3.connect(db_name)
cur = conn.cursor()
cur.execute("PRAGMA table_info(transactions)")
rows = cur.fetchall()
conn.close()

In [15]:
rows

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'product_id', 'INTEGER', 1, None, 0),
 (2, 'product_name', 'TEXT', 1, None, 0),
 (3, 'brand', 'TEXT', 1, None, 0),
 (4, 'category', 'TEXT', 1, None, 0),
 (5, 'color', 'TEXT', 1, None, 0),
 (6, 'action', 'TEXT', 1, None, 0),
 (7, 'qty_delta', 'INTEGER', 0, '0', 0),
 (8, 'unit_price', 'REAL', 0, None, 0),
 (9, 'notes', 'TEXT', 0, None, 0),
 (10, 'ts', 'DATETIME', 0, 'CURRENT_TIMESTAMP', 0)]

In [16]:
print("table name: transactions\n" + "\n".join([f"{r[1]} ({r[2]})" for r in rows]))

table name: transactions
id (INTEGER)
product_id (INTEGER)
product_name (TEXT)
brand (TEXT)
category (TEXT)
color (TEXT)
action (TEXT)
qty_delta (INTEGER)
unit_price (REAL)
notes (TEXT)
ts (DATETIME)

In [17]:
schema = """
Table name: transactions
id (INTEGER)
product_id (INTEGER)
product_name (TEXT)
brand (TEXT)
category (TEXT)
color (TEXT)
action (TEXT)
qty_delta (INTEGER)
unit_price (REAL)
notes (TEXT)
ts (DATETIME)
"""

In [18]:
# We ask a question about the data in natural language
question = "Which color of product has the highest total sales?"

In [19]:
prompt = f"""You are a SQL assistant. Given the schema and the user's question, write a SQL query for SQLite.

Schema:
{schema}

User question:
{question}

Respond with the SQL only.
"""

In [20]:
print(prompt)

You are a SQL assistant. Given the schema and the user's question, write a SQL query for SQLite.

Schema:

Table name: transactions
id (INTEGER)
product_id (INTEGER)
product_name (TEXT)
brand (TEXT)
category (TEXT)
color (TEXT)
action (TEXT)
qty_delta (INTEGER)
unit_price (REAL)
notes (TEXT)
ts (DATETIME)


User question:
Which color of product has the highest total sales?

Respond with the SQL only.

In [21]:
model="openai:gpt-4.1"

In [22]:
response = client.chat.completions.create(
        model=model,
        messages=[{"role": "user", "content": prompt}],
        temperature=0,
    )

sql_V1 = response.choices[0].message.content.strip()

In [23]:
print(sql_V1)

```sql
SELECT color, SUM(qty_delta * unit_price) AS total_sales
FROM transactions
WHERE action = 'sale'
GROUP BY color
ORDER BY total_sales DESC
LIMIT 1;
```

In [24]:
q = sql_V1.strip().removeprefix("```sql").removesuffix("```").strip()
q

"SELECT color, SUM(qty_delta * unit_price) AS total_sales\nFROM transactions\nWHERE action = 'sale'\nGROUP BY color\nORDER BY total_sales DESC\nLIMIT 1;"

In [25]:
conn = sqlite3.connect(db_name)

In [26]:
df_sql_V1 = pd.read_sql_query(q, conn)
df_sql_V1

  color  total_sales
0  blue   -190571.46

# Refine a SQL query

In [27]:
prompt = f"""You are a SQL reviewer and refiner.

User asked:
{question}

Original SQL:
{sql_V1}

Table Schema:
{schema}

Step 1: Briefly evaluate if the SQL OUTPUT fully answers the user's question.
Step 2: If improvement is needed, provide a refined SQL query for SQLite.
If the original SQL is already correct, return it unchanged.

Return STRICT JSON with two fields:
{{
  "feedback": "<1-3 sentences explaining the gap or confirming correctness>",
  "refined_sql": "<final SQL to run>"
}}
"""

In [28]:
print(prompt)

You are a SQL reviewer and refiner.

User asked:
Which color of product has the highest total sales?

Original SQL:
```sql
SELECT color, SUM(qty_delta * unit_price) AS total_sales
FROM transactions
WHERE action = 'sale'
GROUP BY color
ORDER BY total_sales DESC
LIMIT 1;
```

Table Schema:

Table name: transactions
id (INTEGER)
product_id (INTEGER)
product_name (TEXT)
brand (TEXT)
category (TEXT)
color (TEXT)
action (TEXT)
qty_delta (INTEGER)
unit_price (REAL)
notes (TEXT)
ts (DATETIME)


Step 1: Briefly evaluate if the SQL OUTPUT fully answers the user's question.
Step 2: If improvement is needed, provide a refined SQL query for SQLite.
If the original SQL is already correct, return it unchanged.

Return STRICT JSON with two fields:
{
  "feedback": "<1-3 sentences explaining the gap or confirming correctness>",
  "refined_sql": "<final SQL to run>"
}

In [29]:
response = client.chat.completions.create(
        model="openai:gpt-4.1",
        messages=[{"role": "user", "content": prompt}],
        temperature=0,
    )

In [30]:
content = response.choices[0].message.content

In [31]:
type(content)

str

In [32]:
obj = json.loads(content)

In [33]:
obj

{'feedback': "The original SQL correctly calculates the total sales for each color by summing the product of qty_delta and unit_price for 'sale' actions, then returns the color with the highest total sales. It fully answers the user's question.",
 'refined_sql': "SELECT color, SUM(qty_delta * unit_price) AS total_sales\nFROM transactions\nWHERE action = 'sale'\nGROUP BY color\nORDER BY total_sales DESC\nLIMIT 1;"}

In [34]:
feedback = str(obj.get("feedback", "")).strip()

In [35]:
feedback

"The original SQL correctly calculates the total sales for each color by summing the product of qty_delta and unit_price for 'sale' actions, then returns the color with the highest total sales. It fully answers the user's question."

In [36]:
sql_V2 = str(obj.get("refined_sql", sql_V1)).strip()

In [37]:
print(sql_V2)

SELECT color, SUM(qty_delta * unit_price) AS total_sales
FROM transactions
WHERE action = 'sale'
GROUP BY color
ORDER BY total_sales DESC
LIMIT 1;

In [38]:
sql_V2

"SELECT color, SUM(qty_delta * unit_price) AS total_sales\nFROM transactions\nWHERE action = 'sale'\nGROUP BY color\nORDER BY total_sales DESC\nLIMIT 1;"

In [39]:
df_sql_V2 = pd.read_sql_query(sql_V2, conn)
df_sql_V2

  color  total_sales
0  blue   -190571.46

In [40]:
print(df_sql_V1.to_markdown(index=False))

| color   |   total_sales |
|:--------|--------------:|
| blue    |       -190571 |

In [41]:
prompt = f"""You are a SQL reviewer and refiner.

User asked:
{question}

Original SQL:
{sql_V1}

SQL Output:
{df_sql_V1.to_markdown(index=False)}

Table Schema:
{schema}

Step 1: Briefly evaluate if the SQL output answers the user's question.
Step 2: If the SQL could be improved, provide a refined SQL query.
If the original SQL is already correct, return it unchanged.

Return a strict JSON object with two fields:
- "feedback": brief evaluation and suggestions
- "refined_sql": the final SQL to run
"""

In [42]:
print(prompt)

You are a SQL reviewer and refiner.

User asked:
Which color of product has the highest total sales?

Original SQL:
```sql
SELECT color, SUM(qty_delta * unit_price) AS total_sales
FROM transactions
WHERE action = 'sale'
GROUP BY color
ORDER BY total_sales DESC
LIMIT 1;
```

SQL Output:
| color   |   total_sales |
|:--------|--------------:|
| blue    |       -190571 |

Table Schema:

Table name: transactions
id (INTEGER)
product_id (INTEGER)
product_name (TEXT)
brand (TEXT)
category (TEXT)
color (TEXT)
action (TEXT)
qty_delta (INTEGER)
unit_price (REAL)
notes (TEXT)
ts (DATETIME)


Step 1: Briefly evaluate if the SQL output answers the user's question.
Step 2: If the SQL could be improved, provide a refined SQL query.
If the original SQL is already correct, return it unchanged.

Return a strict JSON object with two fields:
- "feedback": brief evaluation and suggestions
- "refined_sql": the final SQL to run

In [43]:
response = client.chat.completions.create(
        model="openai:gpt-4.1",
        messages=[{"role": "user", "content": prompt}],
        temperature=1.0,
    )

In [44]:
content = response.choices[0].message.content

In [45]:
obj = json.loads(content)
feedback = str(obj.get("feedback", "")).strip()
sql_V2 = str(obj.get("refined_sql", sql_V1)).strip()

In [48]:
print(sql_V2)

SELECT color, SUM(ABS(qty_delta) * unit_price) AS total_sales
FROM transactions
WHERE action = 'sale'
GROUP BY color
ORDER BY total_sales DESC
LIMIT 1;

In [46]:
df_sql_V2 = pd.read_sql_query(sql_V2, conn)
df_sql_V2

   color  total_sales
0  white    358315.09